*{
    margin: 0.1rem;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:black;
  
}

.container { 
    display: flex;
    flex-direction: row;
   
    flex-wrap:nowrap;
    position: relative;
    margin:2px
}

.child {
    width: 300px;
    height: 180px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    background-image: url(/img/lorem-picsum.jpg);
}
.container { 
    display: flex;
    flex-direction: row;
    
}
.pinco-pallo{
    position: absolute;
    bottom: 5.5px;
    /*border: 2px solid blue;*/
    width: 8rem;
    height: 2rem;
    color: white;
    font-size: 0.8rem;
    background-color: rgba(128, 128, 128, 0.562);
    padding: 0.5rem;
    padding-left: 3.5rem;
    
    
}