*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:#2106bd49;
    color:#000000;
}

.container { 
    display: flex;
    flex-direction: row;
    background-color: #afa462f6;
    flex-wrap:nowrap;
    position: relative;
}
.container { 
    background-color: #36a314;
}
.child {
    width: 300px;
    height: 200px;
    background-color:#ff000093;
    text-align: center;
    border: 1px solid black;
}
.container { 
    display: flex;
    flex-direction: row;
    background-color: #dbbe18;
}
.pinco-pallo{
    position: absolute;
    width: 120px;
    height: 40px;
    background-color: blue;
    bottom: 0;
}